fastapi
uvicorn[standard]
motor
pymongo
python-dotenv
pydantic
pydantic-settings
email-validator

PyJWT
pwdlib[argon2]
python-multipart

langgraph
langgraph-checkpoint-sqlite
langchain
langchain-google-genai
langsmith
google-generativeai

apscheduler
